.ChatInput{
    width: auto;
    display: block;
    margin: auto;

    input{
        padding : 0%;
        margin: auto;
        font-size: small;
        border: 1 solid red;
        border-radius: 10px;
        width: 50%;
    }
}